.page-header {
  max-width: 1440px;
  position: absolute;
  width: 100%;
  z-index: 2;
  &__items {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0;
  }
  &__link {
    text-decoration: none;
    color: #4a5d8b;
    font-size: 1.5rem;
  }
}
